<p>
  servers works!
</p> 
below is inherited from app-server
<br>
<app-server></app-server>
<br><br>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click) = onCreateServer()>Add server</button>
{{allowNewServer}} <!-- string interpolation -->
<p [innerText]="allowNewServer"></p> <!--property binding-->
{{serverCreationStatus}}

<input
type="text" class ="form-control" (input)="onUpdateServerName($event)">
<p>{{serverName}}</p>

Two way data binding --uses ngModel
<br>
<input
type="text" class ="form-control" [(ngModel)]="serverName">
<p>{{serverName}}</p>
using ngIf below
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{serverName}}</p>
<ng-template #noServer>
  <p>No server created</p>
</ng-template>

using ngFor
<app-server *ngFor="let server of servers"></app-server>